# Composer
/vendor/

# IDE
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# OS
.DS_Store
Thumbs.db

# Module specific
/fax_files/
*.log

# Testing
/htmlcov/
.phpunit.cache/
.phpunit.result.cache

# Docker
.docker/
compose.override.yml

# Environment files with secrets
.env.testing
